language: go

dist: trusty
sudo: false

go:
  - "1.9"
  - "1.10"
  - "1.x"
  - "master"

matrix:
  allow_failures:
    - go: "master"
  fast_finish: true

before_install:
  - "go get -u github.com/golang/dep/cmd/dep"
  - "dep ensure -vendor-only"

script: go test -v
